$bg-color: #e5e5e5;
$primary-color: #2c2c2c;
$border-primary: #a9a9a9;
$text-dark: #000000;
$light: #ffffff;
$footer-bg : #BFDBFF;

$breakpoints: (
  xs: 0px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

@mixin flex {
  display: flex;
  align-items: center;
}